@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.main{
    /* background: linear-gradient(135deg, #4568DC, #B06AB3); */
    background-image: url("./images/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.centered-container {
    text-align: center;
    color: #FFFFFF; /* Light color for text */
}

.puzzle-container {
    display: inline-block;
}

.puzzle {
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    transition: box-shadow 0.2s ease;
}

.puzzle:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.square-table td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #FFFFFF; /* Light color for borders */
    color: #FFFFFF; /* Light color for text */
    transition: box-shadow 0.3s ease; /* Add transition for box-shadow */
}

.square-table td:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Light color for glow effect */
}

.solution-table {
    margin-top: 20px;
    /* border: 3px solid red; */
    margin-left: 40%;
    width: 200px;
    padding-top: 0.2%;
    height: 250px;
    padding-left: 2%;
    color: #FFFFFF; /* Light color for text */
    backdrop-filter: blur(5px); /* Backdrop filter for blur effect */
    /* transition: opacity 0.3s ease; Add transition for opacity */
    transition: box-shadow 0.3s, opacity 0.3s;
    opacity: 0.7; /* Initial opacity */
}

.solution-table:hover {
    box-shadow: rgba(255, 255, 255, 0.7) 0px 25px 50px -12px;
    opacity: 0.9; /* Reduce opacity on hover */
}


input[type="number"] {
    background-color: rgba(255, 255, 255, 0.3); /* Light color for input background with transparency */
    border: none;
    color: #FFFFFF; /* Light color for input text */
    padding: 5px;
    width: 40px;
    text-align: center;
    backdrop-filter: blur(5px); /* Backdrop filter to add blur effect */
}

input[type="number"]:focus {
    outline: none;
}

button {
    background-color: #1E90FF; /* Dark blue */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Transition effect */
    outline: none; /* Remove default outline */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow */
}

button:hover {
    background-color: #4169E1; /* Darker blue */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
    transform: translateY(-1px); /* Move button slightly upwards on hover */
}
